.rectangle {
  background: repeating-linear-gradient(180deg, #5ACC8F 0%, #3B8EE0 50%, #B59AFF 100%);
  /* background: repeating-linear-gradient(-45deg,red 0%, yellow 7.14%, rgb(0,255,0) 14.28%, rgb(0,255,255) 21.42%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%); */
  animation: slide 3s ease-in-out infinite;
  background-size: 100vw 200px;
}

@keyframes slide {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
