@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --qwik-dark-blue: #006ce9;
    --qwik-light-blue: #18b6f6;
    --qwik-light-purple: #ac7ff4;
    --qwik-dark-purple: #713fc2;
    --qwik-dirty-black: #1d2033;
    --qwik-dark-background: #151934;
    --qwik-dark-text: #ffffff;

    --site-background: #000;
  }
}

@font-face {
  font-family: 'TitilliumWeb-Regular';
  src: url('/fonts/TitilliumWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.test {
  position: absolute;
  width: 100vw;
  height: 100vw;
  top: -50vw;

  background: radial-gradient(50% 50% at 50% 50%, #5ACC8F 0%, rgba(7, 192, 201, 0) 100%);
  opacity: 0.2;
}