.arrow:hover {
  background: radial-gradient(50% 50% at 50% 100%, rgba(90, 204, 143, 0.2) 0%, rgba(90, 204, 143, 0) 100%), rgba(255, 255, 255, 0.1);
}

.arrow:hover path {
  fill: rgba(90, 204, 143, 1);
}

.card {
  position: relative;
  --mouse-x: 0px;
  --mouse-y: 0px;
}

.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  /* top: var(--mouse-y, 0px);
  left: var(--mouse-x, 0px); */
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  opacity: 0;
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y),rgba(255,255,255,0.1),transparent 100%);
}

.card:hover::after {
  opacity: 1;
}